.title {
    text-align: center;
}

body {
    background-color: mintcream;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

.modal {
    display: none;
}
    
.volumes {
    height: 90%;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.volume:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.volume {
    display: inline-block;
    transition: 0.3s ease;
    width: 22.25em;
    height: 29em;
    padding: 1em;
}
    
@media (max-width:400px) {
    body{
        font-size: 14px;
    }
}

.banner {
    text-align: center;
    background-color: aquamarine;
    position:fixed;
    left:0px;
    bottom:0px;
    width:100%;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Modal Content */
.modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
}

/* The Close Button */
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

/* Hide the slides by default */
.pages {
    justify-content: center;
    text-align: center;
    display: none;
}

.page {
    padding: 1em;
    width: 30%;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}